# Gradle build system ignores
.gradle/
build/

# Other IDE related folders
.idea/
.settings/

# MCreator workspace
.mcreator/gradleCache
.mcreator/setupInfo
.mcreator/vcsInfo


# MacOS system files
.DS_STORE